{
    "plugins": [
      ["module-resolver", {
        "alias": {
            "@components": "./src/components/",
            "@views": "./src/views/",
            "@styles": "./src/styles",
            "@api": "./src/api/",
        }
      }]
    ]
  }