.app--header {
    padding: 15px 0 10px 0;
    background-image: linear-gradient(45deg,#508992,#746f98);
    height: 50px;
    font-weight: bold;

    .title {
        font-size: 16px;
    }

    .subtitle {
        font-size: 12px;
    }
}